*{
    margin: 0px;
    padding: 0px;
}
.container{
    border: solid black;
    width: 50%;
    height: 90px;
    margin: 10% auto;
    padding: 20px;
}
.flex{
    display:flex;
}
.space-between{
    justify-content: space-between;
}
.topright{
    width: 200px;
}
button{
    width: 70px;
    background-color: yellow;
}
p{
    margin-top: 20px;
}