h1{
    font-family: sans-serif;
    font-size: xxx-large;
    color: grey;
    margin-left: 30%;
}
.first{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    margin: 20px;
    background-color: blue;
}
.image{
    height: 300px;
    width: 300px;
}
.second{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    padding-left: 200px;
    padding-right: 200px;
    margin: 20px;
    background-color: yellow;

}
.third{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    margin: 20px;
    background-color: blueviolet;
}